<ion-header>
  <ion-navbar>
    <ion-title>
      Einstellungen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="logout()" no-lines>
      Ausloggen
    </ion-item>
  </ion-list>
</ion-content>
