<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="loginForm">
    <ion-row class="totalCenter" style="margin-bottom: 5%">
      <h1 class="loginTitle">
        <b>Messenger</b>
      </h1>
    </ion-row>
    <div class="totalCenter">
      <ion-card padding class="loginCard">
        <ion-input placeholder="E-Mail" type="text" [(ngModel)]="loginMail"></ion-input>
        <ion-input placeholder="Passwort" type="password" [(ngModel)]="loginPassword"></ion-input>
      </ion-card>
    </div>
    <ion-row class="totalCenter">
      <button ion-button class="loginButton" (click)="login()">
        Login
      </button>
    </ion-row>
    <ion-row class="totalCenter" style="color:#4286f4; margin-top:10px" (click)="register()">
      Registrieren
    </ion-row>
  </div>
</ion-content>
