page-register {
    .loginContent{
        background-color: whitesmoke;
    }

    .loginForm{
        margin-top: 15%;
    }

    .loginCard{
        border-radius: 10px;
    }

    .loginTitle{
        text-align: center;
        margin: 0px;
        padding-left: 15px;
    }

    .loginButton{
        width: 60%;
        border-radius: 10px;
    }

    .totalCenter{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
