<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrieren</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="loginForm">
    <div class="totalCenter">
      <ion-card padding class="loginCard">
        <ion-input placeholder="Benutzername" type="text" [(ngModel)]="userName"></ion-input>
        <ion-input placeholder="E-Mail" type="text" [(ngModel)]="registerMail"></ion-input>
        <ion-input placeholder="Passwort" type="password" [(ngModel)]="registerPassword"></ion-input>
      </ion-card>
    </div>
    <ion-row class="totalCenter">
      <button ion-button class="loginButton" (click)="createUser()">
        Registrieren
      </button>
    </ion-row>
  </div>
</ion-content>
