<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Chats" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Kontakte" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Einstellungen" tabIcon="settings"></ion-tab>
</ion-tabs>
