<ion-header>
  <ion-navbar>
    <ion-title>Chat mit {{ contact.userName }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row *ngFor="let message of messages">
    <div *ngIf="auth.auth.currentUser.uid === message.sender" item-end class="sender chatItem">
        {{ message.message }}
    </div>
    <div *ngIf="auth.auth.currentUser.uid !== message.sender" item-start class="receiver chatItem">
        {{ message.message }}
    </div>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-10>
        <ion-input [(ngModel)]="sendMessage" class="sendMessage"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="send()" class="totalCenter">
        Senden
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
