page-chat {
    .sendMessage{
        background-color: white;
        border-radius: 10px;
    }

    .totalCenter{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: grey
    }

    .chatItem{
        max-width: 70%;
        min-height: 20px;
        width: fit-content;
        height: fit-content;
        border: solid 1px rgba(0, 0, 0, 0.125);
        border-radius: 8px;
        padding: 5px;
        margin-top: 5px;
    }

    .receiver{
        text-align: left;
        background-color: whitesmoke;
    }

    .sender{
        text-align: right;
        background-color:rgba(74, 233, 53, 0.8);
        margin-left: auto;
        margin-right: 0px;
    }
}
