<ion-header>
  <ion-navbar>
    <ion-title>
      Kontakte
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts" (click)="openChat(contact)">
      {{ contact.userName }}
    </ion-item>
  </ion-list>
</ion-content>
