<ion-header>
  <ion-navbar>
    <ion-title>Chats</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(chat)">
      {{ chat.userName }}
    </ion-item>
  </ion-list>
</ion-content>
